html{
    height: 100%;
    font: Arial;
}
#main_body{
    background-color: #FFFFCC;
    width: 100%;
    height: 100%;
    clear: both;
    margin: auto;
}
#navegacion{
    width: 100%;
    height: 74px;
    float: left;
    background-color: navy;
    padding: 0px;
}